/* 
    Document   : style.css
    Created on : 2011-5-6, 10:28:33
    Author     : albertwang
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.fillParent{
    display:block;
    width:100%;
}
body {
    min-width:800px;
    overflow-x:hidden;
    overflow-y:auto;
    font-family: Arial, 微软雅黑;
    font-size: 12px;
    background: white;
    /*                padding-right: 30px;*/
}

table, td, th {
    border: 0px;
    padding: 1px 4px;
    margin: 0px;
    vertical-align: middle;
    border-spacing: 0px 0px;
    border-collapse: separate;
    word-break:break-all;
}
tr:nth-child(odd) {background: #F0F0F0;}
tr:nth-child(even) {background: #FAFAFA;}
tr:hover {background: #D1E2FF;cursor: pointer;}
thead, th {
    background: #C3D9FF;
    font-weight: bold;
    text-align: left;
}
h4 {
    color: #222;
    font-size: 12px;
    padding: 4px 0px 0px 0px;
    margin: 0px;
    border: 0px;
    text-align:center;
}
#SMSBox .emot {
    color:gray;
}
#SMSBox tbody .time {
    max-width:68px;
    min-width:68px;
    font-size: 8px;
    font-family: Arial Narrow;
    color: #555;
}
#SMSBox .topic, #SMSBox tbody .buddy {
    overflow-x: hidden;
    max-width:80px;
    min-width:80px;
}
#SMSBox .content {
    width: 100%;
}
#SMSBox .buddy .self {
    color:#0a0;
}
#SMSBox .buddy .others{
    color:#00e;
}
table#SMSBox {
    border: 1px solid #ccc;
    padding: 0px;
    width: 100%;
    /*                table-layout: fixed;*/
}
#sliderPageIndex {
    height: 10px;
}
#selFriends {
    width: 15%;
    /*                float: right;*/
}
iframe {
    text-align:center;
}
#lblAccount{
    /*                float:right;*/
    text-align: right;
    font-size: 12px;
}
#txtTitle{
    width:98%;
    height:100%;
}
#txtContent{
    width:98%;
    height:100%;
    border: 0px solid aqua;
}
#txtTargets{
    width:98%;
    height:100%;
}
/*            .msgTr td{
                cell-padding:0px;
                padding:0px 0px 0px 0px;
                border:0px;
                border-collapse: collapse;
            }*/


